<ng-container>
  <div class="row">
    <div class="col-12">
        <ng-container *ngIf="{nom: 'CAMARA'}">
          .... this content will be visible because the expression is truthy ...
        </ng-container><br/>
        <ng-container *ngIf="{}">
          .... this content will be visible because the expression is truthy ...
        </ng-container> <br />
        <ng-container *ngIf="[1,2,3]">
          .... this content will be visible because the expression is truthy ...
        </ng-container> <br/>
        <ng-container *ngIf="[]">
          .... this content will be visible because the expression is truthy ...
        </ng-container>
    </div>
  </div>
</ng-container>